---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Typography

// base-font-family: "adobe-caslon-pro", "Adobe Caslon Pro", serif;
// caption-font-family: "ltc-bodoni-175", "Libre Baskerville", serif;
$base-font-family: Georgia,Cambria,"Times New Roman",Times,serif;
$caption-font-family: Georgia,Cambria,"Times New Roman",Times,serif;
$banner-font-family: "Sanchez", serif;
$title-font-family: "Libre Baskerville", serif;
$base-font-size:   20px;
$base-font-weight: 400;
$base-line-height: 1;

// Colours
$text-color:       #222;
$caption-text-color: #444;
$border-color: #979797;
$background-color: #fefefe;
$content-width:    750px;
$hover-color: #443E40;
$legal-color: #818181;

// Layout
$layout-width: 750px;

// Breakpoints
$desktop-breakpoint: $layout-width / 0.9;
$image-splitting-breakpoint: 510px;

// Banner
$banner-width: "100%";
$banner-height: 280px;
$banner-margin: 50px;
$banner-border-width: 0px;
$banner-border-offset: 2px;

// Images
// Note that extensions are omitted for use in retina-background-image mixin
$img-separator: '{{ site.baseurl }}/img/ghostparator';
$img-banner: '{{ site.baseurl }}/img/banner';
$img-dude: '{{ site.baseurl }}/img/dude';
$img-face: '{{ site.baseurl }}/img/self_with_owl';
$img-location: '{{ site.baseurl }}/img/icon-location';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "vendors",
        "base",
        "layout",
        "modules"
;

.post-date {
  font-variant: all-petite-caps;
  border-top: none;
  border-bottom: none;
}

.wf-inactive .post-date, .wf-loading .post-date {
  padding-top: 11px;
}

.post-body {
  letter-spacing: 0.01em;


  p {
    line-height: 1.7;
  }

  ol, ul {
    li {
      line-height: 1.3;
      margin-bottom: 0.5em;
    }
  }

  blockquote {
    line-height: 1.3;
  }

}

.post-image-caption {
  &::after {
      display: block;
      content: "";
      width: 185px;
      margin: 23px auto 30px;
      border-bottom: 5px solid $border-color;
  }
}