<script type="text/javascript" src="{{ site.baseurl }}/js/galileo.js"></script>
<script type="text/javascript" src="{{ "/js/fingerprint.min.js" | prepend: site.baseurl  }}"></script>

<script type="text/javascript">
  // cookieless google analytics thanks to https://github.com/Foture/cookieless-google-analytics

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3442482-8', {
    'storage': 'none',
    'clientId': new Fingerprint().get()
  });
  ga('set', 'anonymizeIp', false); // we'll try IP anonimization later
  ga('send', 'pageview');
</script>
